{{! Main will go here }}

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    {{! <link rel="stylesheet" href=""> Need to decide to use bootstrap or regular CSS for styling }}
  </head>

  <body>
    <header>
      <h1>Tech Blog
      </h1>
      <nav>
        {{! Will need to render the login/logout buttons some where on nav }}

      </nav>
    </header>
    <main>

      {{{body}}}
    </main>
    <footer>

    </footer>
  </body>

</html>