<div class="bg-secondary p-2">
  <div class="m-5 p-2 d-flex justify-content-center">
    <div>
      <h2>Your Dashboard</h2>
      <p class="text-center">Welcome {{name}}!</p>
    </div>
  </div>
  {{#each posts as |post|}}
    <div class="bg-light m-5 p-2 d-flex justify-content-center">
      <div>
        <h2>
          <a href="/dashboard/posts/{{post.id}}">{{post.title}}</a>
        </h2>

      </div>
    </div>
  {{/each}}
</div>
<div class="bg-light m-5 p-2 d-flex justify-content-center">
  <a href="/newpost">Create A New Blog Post</a>
</div>