{{! login will go here }}

<div>
  <div class="bg-light p-5 m-5">
    <h2>Login</h2>

    <form class="login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  <div class="bg-light p-5 m-5">
    <h2>Or...</h2>
    <h2>Signup</h2>

    <form class="sign-up-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>